<p id="notice"><%= notice %></p>

<h1>Careers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Favorite</th>
      <th>Skills</th>
      <th>Advice</th>
      <th>Education</th>
      <th>Pay</th>
      <th>Environment</th>
      <th>Bookmark</th>
      <th>Hashtag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @careers.each do |career| %>
      <tr>
        <td><%= career.title %></td>
        <td><%= career.favorite %></td>
        <td><%= career.skills %></td>
        <td><%= career.advice %></td>
        <td><%= career.education %></td>
        <td><%= career.pay %></td>
        <td><%= career.environment %></td>
        <td><%= career.bookmark %></td>
        <td><%= career.hashtag %></td>
        <td><%= link_to 'Show', career %></td>
        <td><%= link_to 'Edit', edit_career_path(career) %></td>
        <td><%= link_to 'Destroy', career, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Career', new_career_path %>
